<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <title> Taibah News</title>
    {%block head%}

    {%endblock%}

</head>

<body>
    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">Taibah News</div>
            <ul class="nav-list">
                <li><a href="{{url_for('views.home')}}">Home</a></li>
                <li><a href="{{url_for('auth.registration_submit')}}">Sign in</a></li>
                </div>
                </div>
            </ul>
        </div>
    </nav>
    {%block body%}

    
    {%endblock%}
</body>

</html>
