body{
    font-family: Arial, sans-serif;
    background-color: #343434;
}
.sign-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 60px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(248, 158, 158, 0.521);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}